@font-face {
	font-family: gobold;
	src: url('gobold.ttf');
}
* {
	box-sizing: border-box;
	letter-spacing: 1px;
	font-family: gobold;
}
body {
	background: url('table.jpg');
	background-size: cover;
}
h1 {
	font-size: 48px;
	margin: 15px 0;
	color: #fff;
}
.container {
	width: 1080px;
	margin: 25px auto;
}
.menu, .results {
	height: 275px;
	width: 350px;
	margin-top: -100px;
	margin-left: -175px;
	position: absolute;
	padding: 10px;
	left: 50%;
	top: 45%;
	text-align: center;
	color: #ffeaa0;
	border: 5px solid #ffeaa0;
	border-radius: 20px;
	box-shadow: 0 0 25px 5px #000;
	background: #000;
	vertical-align: text-bottom;

}
.results {
	display: none;
	height: 335px;
	margin-top: -125px;
}
.results h2 {
	border-bottom: 2px solid #ffeaa0;
	padding-bottom: 4px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input, label {
	margin: 10px;
	width: 75%;
}
input[type=submit] {
	font-size: 16px;
	width: 50%;
	border: 3px solid #ffeaa0;
	border-radius: 10px;
	padding: 10px;
	background: #000;
	color: #ffeaa0;
	outline: 0;
}
input[type=submit]:hover {
	cursor: pointer;
	box-shadow: 0 0 15px #fff;
}
input[type=text] {
	padding: 5px;
	font-size: 18px;
	border-radius: 10px;
	outline: 0;
	text-align: center;
}
.card {
	height: 200px;
	width: 150px;
	float: left;
	margin: 15px;
	border: 5px solid #000;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #261600;
	background-image: url('card_back.jpg');
	background-size: cover;
}
.card:hover {
	cursor: pointer;
	border: 5px solid #ffeaa0;
	box-shadow: 0 0 20px 3px #ffeaa0;
}
.card.selected {
	border: 5px solid #ffeaa0;
	box-shadow: 0 0 20px 3px #ffeaa0;
	transform: rotateY(180deg);
	transition: 0.5s;
}
.shake {
	animation-name: shake;
	animation-duration: .5s;
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	20%, 60% {transform: translateX(-30px);}
	40%, 80% {transform: translateX(30px);}
}